/* Главная страница — форма создания и входа */
form {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

input[name="room"],
input[name="name"] {
  text-align: center;
}

button#createRoom {
  background: var(--btn);
}
